{% extends 'base.html' %}
{% load static %}
{% block title %}
    Zmiana hasła
{% endblock %}
{% block header %}
    header--form-page
{% endblock %}
{% block content %}
    <section class="login-page">
        <h2>Zmień swoje dane</h2>
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            {{ form.old_password.errors }}
            <div class="form-group">
                {{ form.old_password }}
            </div>
            {{ form.non_field_errors }}
            {{ form.password1.errors }}
            <div class="form-group">
                {{ form.password1 }}
            </div>
            {{ form.password2.errors }}
            <div class="form-group">
                {{ form.password2 }}
            </div>
            <button class="btn" type="submit">Zmień hasło</button>
            </div>
        </form>
    </section>
{% endblock %}
