{% extends 'base.html' %}
{% load static %}
{% block title %}
    Zapomniane hasło
{% endblock %}
{% block header %}
    header--form-page
{% endblock %}
{% block head %}
    <section class="login-page">
        <h2>Zmień swoje dane</h2>
        <form action="{% url 'reset_password' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.email.errors }}
            <div class="form-group">
                {{ form.email }}
            </div>
            <div>
            <button class="btn btn--small" type="submit">Wyślij link do resetowania</button>
            </div>
        </form>
    </section>
{% endblock %}
