{% extends 'base.html' %}
{% load static %}
{% block title %}
    Twój profil
{% endblock %}
{% block content %}


    <section class="">
        Imię: {{ user.first_name }} <br>
        Nazwisko: {{ user.last_name }}<br>
        Email: {{ user.email }}<br>
        Twoje podarunki:<br>
        {% for donation in donations %}
            {{ donation.pick_up_date }}
            {% for category in donation.categories.all %}
                {{ category.name }}
            {% endfor %}
            {{ donation.pick_up_date }} {{ donation.pick_up_time }}
            {% if donation.is_taken %}
                (Odebrane)
            {% elif not donation.is_taken and donation.pick_up_date < now %}
                dupa dup
            {% endif %}<br>
        {% endfor %}
    </section>
{% endblock %}
